
@media (max-width: 767px){
 
}

@media (min-width: 768px) and (max-width: 1199px){

    .adres {
        width: 300px;
    }
}

@media (min-width: 1200px) {

    .adres {
        width: 300px;
    }
}

.adres {
    color: #C4C4C4;
    font-size: 18px;

}

.adres__item {
    margin-bottom: 16px;
    text-align: left;
    
}

.adres__item--adres {
    line-height: 30px;  
}

.bold {
    font-weight: 500;
}
