/* @import url(/css/style.css); */

.container {
  margin: 5%;
  background-color: rgb(231, 237, 238);
  border: 3px dashed rgba(0, 255, 85, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.button {
  padding: 17px 40px;
  border-radius: 35px;
  border: 1px solid #817d7d;
  font-size: 20px;
  color: #fff;
  background-color:transparent;
}

.button:hover {
background-color: rgb(129, 125, 125);
}

.button--akcent {
  background-color:#C05E37;
  width: 350px;
}

.button--akcent:hover{
  background-color:#C05E37;
  color: #000;
}

.button--gray-text{
  color: #C4C4C4;
}