@import url(logo.css);
@import url(Messendger-contact.css);
@import url(main-menu.css);
@import url(botton.css);
@import url(mane-form.css);
@import url(table.css);
@import url(servise-navigation.css);
@import url(adres.css);

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header {
    padding: 30px;
  }

  .flex-horizont {
    flex-direction: column;
    align-items: flex-end;
  }

  .logo {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    /* margin: 20px auto; */
  }

  .first-display {
    padding: 30px;
    background-position-x: 33%;
    background-position-y: 20%;
  }

  /* ТРЕБОВАНИЯ К ОБЪЕКТУ */
  .prise__teble-wrp {
    display: flex;
    flex-direction: column-reverse;
  }
  .requirements {
    order: 3;
  }

  .prise__wripper {
    padding: 60px 30px 90px;
  }

  .requirements__title {
    margin-left: 0;
    text-align: center;
    padding-bottom: 30px;
  }

  .requirements__list {
    line-height: 30px;
    margin-left: 30px;
  }

  .prise__button-wrp {
    padding-top: 80px;
  }

  .footer__wripper {
    padding: 80px 30px 80px;
  }

  .footer__row {
    display: flex;
    flex-direction: column;
  }

  .footer__wripper {
    padding: 80px 60px 80px;
  }

  .footer__column {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    flex-direction: column;
  }
  .adres {
    margin: 60px 0 0px;
    order: 3;

  }

  .footer__button {
    text-align: center;
    margin: 80px 0 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .flex-horizont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wrapper {
    padding: 30px 60px 30px;
  }

  .first-display__title {
    font-size: 40px;
  }

  .first-display__description {
    font-size: 24px;
    line-height: 40px;
  }

  .offer-form {
    min-width: 350px;
    width: 35%;
    margin-left: 10px;
  }

  .first-display__works-list {
    max-width: 40%;
  }
  /* ТРЕБОВАНИЯ К ОБЪЕКТУ */
  .prise__teble-wrp {
    display: flex;
    flex-direction: column-reverse;
  }
  .requirements {
    order: 3;
  }

  .prise__wripper {
    padding: 60px 60px 90px;
  }

  .requirements__title {
    margin-left: 0;
    text-align: center;
    padding-bottom: 30px;
  }
  .requirements__list {
    line-height: 30px;
    margin-left: 30px;
  }

  .prise__button-wrp {
    padding-top: 80px;
  }

  .footer__wripper {
    padding: 80px 30px 80px;
  }

  .footer__button {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .flex-horizont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .wrapper {
    padding: 30px 30px 30px;
  }

  .offer-form {
    min-width: 340px;
    width: 30%;
    margin-left: 30px;
  }

  .prise__teble-wrp {
    display: flex;
    justify-content: space-between;
  }

  .prise__row--right {
    width: 60%;
  }

  .requirements {
    padding-left: 20px;
  }

  .requirements__list {
    padding-left: 20px;
  }

  .prise__wripper {
    padding: 60px 30px 80px;
  }

  .prise__button-wrp {
    padding-top: 40px;
  }

  .footer__column {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
  }

  .footer__button {
    text-align: right;
  }
}

/* //////////////////////////////////- ПЕРВЫЙ ЭКРАН */
.header {
  background-color: #000;
  border-bottom: 2px solid #686868;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
}

.first-display {
  position: relative;
  color: #fff;
  background-image: url(../img/Borrning_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  background-color: #000;
}

.first-display::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* //////////////////////////////////-ЭКРАН ЦЕНЫ НА БУРЕНИЕ */
.prise {
  background-image: url(/img/Коронка.jpg);
  background-size: cover;
  position: relative;
}

.prise::after {
  content: "";
  background-color: rgba(216, 216, 216, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.prise__wripper {
  position: relative;
  z-index: 1;
  max-width: 1440px;
  margin: 0 auto;
}

.prise__title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 70px;
}

.prise__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-width: 435px; */
}

.prise__button-wrp {
  text-align: center;
}

.requirements__title {
  font-size: 18px;
  font-weight: 400;
  /* margin-bottom: 25px; */
}

.requirements__list {
  line-height: 30px;
}

/* //////////////////////////////////- ФУТЕР */

.footer {
  background-color: #000;
}

.footer__wripper {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 80px 0 80px; */
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__row--top {
  align-items: center;
}

.footer__row--botton {
  padding-top: 60px;
}
