@import url(/css/style.css);

.container {
  margin: 5%;
  border: 3px dashed rgba(0, 255, 85, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;}


.table {
  border: 1px solid #9E9E9E;

  /* border-collapse: collapse; */
  border-spacing: 0px;
  border-radius: 13px;
}
.table__caption {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;

}
.table__head-cell-left {
  /* width: 100%; */
  padding: 10px;
  background-color: #585858;
  color:#fff;
  border-radius: 13px 0 0 0;
  height: 30px;
}
.table__string {
color:#000

}
.table__item {
  padding: 10px;
  border-bottom: 1px solid #C05E37;


}