
/* //////////////////////////////////////////////Служебный код */

@import url(/css/style.css);

.container {
  margin: 5%;
  border: 3px dashed rgba(0, 255, 85, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

  .container--ferst {
    height: 800px;
    width: 800px;
    margin: 0 auto;
  }

/* //////////////////////////////////////////////Рабочий код */

@media (max-width: 767px){
  .table {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px){
  .table {
    border: 1px solid #9E9E9E;
    margin: 0 auto;
    /* width: 530px; */
    width: 100%;
    border-spacing: 0px;
    border-radius: 13px;
}
}

@media (min-width: 1200px) {
  .table {
    width: 95%;
  }
}

.table {
  border: 1px solid #9E9E9E;
  margin: 0 auto 40px;

  /* width: 530px; */
  /* width: 95%; */
  border-spacing: 0px;
  border-radius: 13px;
}

.table--four-row {
  /* width: 755px; */
  width: 100%;
}

.table__caption {
  text-align: right;
  font-weight:normal;
  font-size: 18px;
  margin-bottom: 15px;
}

.table__caption-text {
  font-weight:lighter;
  line-height: 30px;
  font-size: 16px;
}

.table__head-cell {
  padding: 10px;
  background-color: #585858;
  color:#fff;
  height: 30px;
  font-weight: normal;
}

.table__measure-unit {
  font-weight:100;
  font-size: 14px;
}

.table__head-cell--align-left {
  text-align: left;
}
.table__head-cell--left {
  border-radius: 13px 0 0 0;
}

.table__head-cell--right {
  border-radius: 0 13px  0 0;
}
.table__string {
color:#000

}
.table__item {
  padding: 10px;
  border-bottom: 1px solid #C05E37;
}

.table__item--align-center {
  text-align: center;
}

.table__item--last-string {
  border:none;
  height: 37.3px;
}