<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/adres.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adres</title>
</head>
<body>
    <div class="container">
        <div class="adres">
            <p class="adres__item"><span class="bold">e-mail: </span>akruks@info.ru</p>
            <p class="adres__item adres__item--adres"><span class="bold">Адрес: </span>г. Санкт-Петербург
                5-й верхний переулок д. 16</p>
        </div>
    </div>
</body>
</html>