<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/botton.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button</title>
</head>
<body>

  <div class="container">
    <button class="button button--gray-text">Кнопка</button>
  </div>

  <div class="container">
    <button class="button">Кнопка</button>
  </div>

  <div class="container">
    <button class="button button--akcent">Кнопка</button>
  </div>
</body>
</html>