<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/mane-form.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mane-form</title>
</head>
<body>
    <div class="container">
        <form class="mane-form" action="#" method="POST">
            <p class="main-form__title">Оформите заявку на взызов специалиста</p>
            <input class="main-form__input input_mb30" name="main-form__name" type="text" placeholder="Введите ваше имя">
            <input class="main-form__input input_mb50" name="main-form__tel" type="tel" placeholder="+ 7 999 99 99">
            <button class="button">Получить рассчет</button>
        </form>
    </div>
</body>
</html>