<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/servise-navigation.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servise-navigation</title>
</head>
<body>
    <div class="container">
        <div class="servise-navigation">
            <div class="servise-navigation__column">
                <p class="servise-navigation__title">Услуги</p>
                <ul class="servise-navigation__list">
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Алмазное бурение</a></li>
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Демонтаж проемов</a></li>
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Усиление проемов</a></li>
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Бетонирование</a></li>
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Устройство наливных полов</a></li>
                </ul>
            </div>
            <div class="servise-navigation__column">
                <p class="servise-navigation__title">Информация</p>
                <ul class="servise-navigation__list">
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Выполненны объекты</a></li>
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">О компании</a></li>
                    <li class="servise-navigation__item"><a href="" class="servise-navigation__link">Контакты</a></li>
                </ul>
            </div>
        </div>   
    </div>
</body>
</html>