<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/table.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
</head>
<body>
  <div class="container">
    
      <table class="table">
        <caption class="table__caption">Таблица 1</caption>
        <tr class="table_head">
          <th class="table__head-cell-left">Дополнительные услуги</th>
          <th class="table__head-cell-right">Стоимость, руб.</th>
          <tr class="table__string">
            <td class="table__item">Сбор воды с одного отверстия до 180 мм	</td>
            <td class="table__item">200</td>
          </tr>
          <tr class="table__string">
            <td class="table__item">Сбор воды с одного отверстия от 180 мм	</td>
            <td class="table__item">500</td>
          </tr>
          <tr class="table__string">
            <td class="table__item">Выезд за пределы СПб (до 50 км.)	</td>
            <td class="table__item">500</td>
          </tr>
          <tr class="table__string">
            <td class="table__item">Подготоовка исполнительной документации</td>
            <td class="table__item">10% от договора</td>
          </tr>
        </tr>
      </table>
    </div>
    
  </div>
</body>
</html>